* {
}

body {
  max-width: 960px;
  margin: auto;
}

header {
  background-color: darkgray;
  color: lightgray;
}

#logo {
  vertical-align: middle;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
}

li {
  display: inline-block;
  padding: 50px;
}

main img {
  margin-top: 20px;
  margin-bottom: 0px;
}

.banner1, .banner2, .banner3 {
  float: left;
}

.banner2 {
  padding: 0px 30px 0px 30px;
}

p {
  padding: 0px;
  display: inline-block;
}

img.featured {
  float: left;
  margin-right: 0px;
}

#featured {
  margin-bottom: 20px;
}

.featured1, .featured2 {
  display: inline-block;
}

div.featured2 {
  height: 350px;
  width: 460px;
  overflow: scroll;
  float: right;
  margin-top: 20px;
  margin-left: 20px;
}

footer {
  height: 150px;
  background-color: darkgray;
}